<main class="TodoPgeMain">
  <article>
    <h1 class="TodoPage-title"> My Todo-List</h1>
      <form class="AddTodo"
          action="/todos"
          method="post">
        <input class="AddTodo-text" type="text" placeholder="what's next?" name="todo_text">
        <input class="AddTodo-date" type="date" name="due_date">
        <input class="AddTodo-button" type="submit" value="Add">
      </form>

    <%= render partial:"todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue.complete,
      show_due_date:true
    } %>
    <%= render partial:"todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_due_date:false
    } %>
    <%= render partial:"todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.duelater,
      show_due_date:true
    } %>
  </article>
</main>
