<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Todo Management App</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="my-app.css">
</head>

<body>
  <main class="TodoPgeMain">
    <article>
      <h1 class="TodoPage-title"> My Todo-List</h1>
      <section class="AddTodo">
        <input class="AddTodo-text" type="text" placeholder="what's next?">
        <input class="AddTodo-date" type="date">
        <input class="AddTodo-button" type="button" value="Add">
      </section>
      <section class="TodoSection"> flex
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-title"> Due Today </p>
          <p class="TodoSectionTitle-remainingCount"> 0/4 </p>
        </div>
        <ul>
          <li class="TodoItem">
            ::marker
            <label class="TodoItem-container"> inline flex </label>
            <input class="TodoItem-checkbox" type="checkbox">
            Submit SaaS 201 project
            <p class="TodoItem-overdueLabel"> Overdue </p>
          </li>
        </ul>
      </section>

      <section class="TodoSection">
        <h2 class="TodoSection-title"> Due Tomorrow</h2>
        <p class="TodoSection-todo"> Refill Groceries </p>
      </section>
    </article>
  </main>
</body>

</html>
